@model IEnumerable<Vidya.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Count() > 5 ? "popular" : null;
}
<h2 class="@className">Customers</h2>

<div>
    <p>@Html.ActionLink("Add New Customer", "NewCustomer", "Customers")</p>
    <br/>
</div>

@if (Model == null)
{
    <p>There are no customers yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Discount</th>
            <th>Membership Type</th>
        </tr>
        </thead>

        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>@customer.MembershipType.MembershipName</td>
                </tr>
            }
        </tbody>
    </table>
}