@model Vidya.ViewModels.VideoFormView
@{
    ViewBag.Title = "VideoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Video == null)
{
    <h2>New Video</h2>
}
else
{
    <h2>Edit Video</h2>
}

@using (Html.BeginForm("Save", "Video"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Video.Name)
        @Html.TextBoxFor(m => m.Video.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Video.ReleaseDate)
        @Html.EditorFor(m => m.Video.ReleaseDate, new { @class = "form-control datecontrol", placeholder = "Enter Date of Birth" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Video.DateAdded)
        @Html.EditorFor(m => m.Video.DateAdded, new { @class = "form-control datecontrol", placeholder = "Enter Date of Birth" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Video.GenreId)
        @Html.DropDownListFor(m => m.Video.GenreId, new SelectList(Model.Genres, "Id", "Name"), "select genre", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Video.NumberInStock)
        @Html.TextBoxFor(m => m.Video.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Video.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}



